<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/js/bootstrap.js">

        <title>Document</title>
    </head>
    <body class="container">
        <h1>
            New Product
        </h1>
        <form action="/create" method="post" enctype="multipart/form-data">
            Name:
            <input class="form-control" type="text" name="name">
            Des:
            <input class="form-control" type="text" name="des">
            Image:
            <input class="form-control" type="file" name="image">
            <button class="btn btn-info">Submit</button>
        </form>
    </body>
</html>